<!DOCTYPE HTML>
<html>
<head>
<title>Backbone Cellar</title>
</head>

<body>

<div id="header"></div>

<div id="sidebar"></div>

<div id="content">
<h2>Welcome to Backbone Cellar</h2>
<p>
This is a sample application part of of three-part tutorial showing how to build a CRUD application with Backbone.js.
</p>
</div>

<script src="{{ STATIC_URL }}jquery-1.8.1.min.js"></script>
<script src="{{ STATIC_URL }}underscore-min.js"></script>
<script src="{{ STATIC_URL }}backbone-min.js"></script>

<script src="{{ STATIC_URL }}js/utils.js"></script>
<script src="{{ STATIC_URL }}js/models/winemodel.js"></script>
<script src="{{ STATIC_URL }}js/views/header.js"></script>
<script src="{{ STATIC_URL }}js/views/winelist.js"></script>
<script src="{{ STATIC_URL }}js/views/winedetails.js"></script>
<script src="{{ STATIC_URL }}js/main-wine.js"></script>

</body>

</html>